<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 🔥 인터넷 권한 추가 (필수) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Swing AI"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"> <!-- 🔥 HTTP 연결 허용 -->
        
        <!-- 🔥 GPU 가속을 위한 OpenCL 라이브러리 설정 -->
        <uses-native-library android:name="libOpenCL.so" android:required="false"/>
        <uses-native-library android:name="libOpenCL-car.so" android:required="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
