<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-4ARqcbpeY_keCfOVkADKLPMfRm08k5w</string>
	<key>GCM_SENDER_ID</key>
	<string>791751992996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antigravity.swing.swingFrontend</string>
	<key>PROJECT_ID</key>
	<string>swing-invest</string>
	<key>STORAGE_BUCKET</key>
	<string>swing-invest.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791751992996:ios:3a66753b02fa36d9e1e831</string>
</dict>
</plist>